* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.first-screen {
  height: 779px;
  background-image: url(./assets/images/first-scr-bgr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #02160b;
}

.block-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.logo-wrapper:hover {
  opacity: 0.5;
}

.logo-text {
  margin: 0;
  width: 155px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

nav {
  width: 480px;
  height: 50px;
}

.header-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.header-menu li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.header-menu li a:hover {
  color: #e39128;
}

.header-menu li a svg:hover path {
  fill: #e39128;
}

.search-icon {
  margin-top: 21px;
}

.sign-btn {
  width: 120px;
  height: 50px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  background: none;
  text-align: center;
  color: #f7f7f7;
  cursor: pointer;
}

.sign-btn:hover {
  background-color: #cd6326;
}

.survival {
  margin-top: 103px;
}

.survival-wrapper {
  height: 337px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.survival-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 2px;
  color: #cd6326;
  text-transform: capitalize;
}

.survival-text {
  width: 272px;
  margin-top: 6px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
  text-align: justify;
}

.donate-btn {
  width: 160px;
  height: 60px;
  background: #cd6326;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  border: none;
  cursor: pointer;
}

.donate-btn:hover {
  background-color: #e39128;
}

.donate-btn:active {
  background-color: #8f5613;
}

.second-screen {
  height: 1368px;
  background-color: #cccccc;
}

.latest-articles {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-articles-title {
  width: 324px;
  height: 72px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}

.latest-articles-text {
  width: 332px;
  height: 36px;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  align-items: center;
}

.slider {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  list-style: none;
  align-items: center;
}

.slide {
  width: 300px;
  height: 360px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:hover {
  opacity: 0.5;
  cursor: pointer;
}

.slide-title {
  margin-top: 247px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #f7f7f7;
}

.slide-description {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
}

.first-slide {
  background-image: url(./assets/images/Deer.jpg);
}

.second-slide {
  background-image: url(./assets/images/Squirrel.jpg);
}

.third-slide {
  background-image: url(./assets/images/Bird.jpg);
}

.arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

.get-notified {
  margin-top: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-notified p {
  width: 526px;
  height: 41px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

form {
  margin-top: 57px;
  display: flex;
}

.email {
  height: 60px;
  width: 526px;
  opacity: 0.5;
  border-radius: 0px;
  padding-left: 15px;
  background: none;
  border-width: 1px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #666666;
}

.email::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #666666;
  letter-spacing: 1px;
}

.send-btn {
  width: 120px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  padding-top: 3px;
  letter-spacing: 1px;
}

.send-btn:hover {
  background-color: #e39128;
  cursor: pointer;
}

.send-btn:active {
  background-color: #8f5613;
}

footer {
  height: 359px;
  display: flex;
  align-items: center;
  background-image: url(./assets/images/Footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #181617;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  width: 479px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-nav ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

.footer-nav ul li a:hover {
  color: #e39128;
}

.soc-icon:hover {
  opacity: 0.5;
}

.footer-nav ul li:nth-child(3) {
  margin-right: 3px;
}

.soc-networks {
  width: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.soc-icon {
  height: 40px;
  width: 40px;
}

.facebook {
  background-image: url(./assets/images/facebook.svg);
}

.instagram {
  background-image: url(./assets/images/instagram.svg);
}

.pinterest {
  background-image: url(./assets/images/pinterest.svg);
}

.telegram {
  background-image: url(./assets/images/telegram.svg);
}
